<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Kamhoops</title>
    <link href="styles/site.css" rel="stylesheet" type="text/css"/>
</head>

<body>

<!-- Header -->
<div id="header">
    <div id="logo">
        <img src="/resources/images/logo.png" alt="logo"/>
    </div>
    <div id="infoHeader">
        <p>2012/2013 Season <br/>
            -8 Teams<br/>
            -20 Games<br/>
            -Playoffs<br/>
            -Winners Trophy
        </p>
    </div>
</div>
</div>

<!-- Navigation Bar -->
<div id="topNav">Home | Schedule | Teams | Spares | Register For Spares | Standings</div>

<!-- Past Game and Future Game quick view -->
<div id="quickGameView">
    <div id="previous">
        <table id="previousGame">
            <caption>Feb 24, 2013</caption>
            <tr>
                <th class="time">Time</th>
                <th class="home">Home</th>
                <th class="vs">vs</th>
                <th class="away">Away</th>
                <th class="gameNo">Game</th>
                <th class="side" rowspan="5">Results</th>
            </tr>
            <tr>
                <td class="time">7:00</td>
                <td class="win home">Team 1</td>
                <td class="vs">-</td>
                <td class="away">Team 2</td>
                <td class="gameNo">Game 1</td>
            </tr>
            <tr>
                <td class="time">7:00</td>
                <td class="home">Team 3</td>
                <td class="vs">-</td>
                <td class="win away">Team 4</td>
                <td class="gameNo">Game 2</td>
            </tr>
            <tr>
                <td class="time">8:15</td>
                <td class="win home">Team 5</td>
                <td class="vs">-</td>
                <td class="away">Team 6</td>
                <td class="gameNo">Game 3</td>
            </tr>
            <tr>
                <td class="time">8:15</td>
                <td class="home">Team 7</td>
                <td class="vs">-</td>
                <td class="win away">Team 8</td>
                <td class="gameNo">Game 4</td>
            </tr>
        </table>
    </div>
    <div id="next">
        <table id="nextGame">
            <caption>Mar 3, 2013</caption>
            <tr>
                <th class="side" rowspan="5">Next</th>
                <th class="time">Time</th>
                <th class="home">Home</th>
                <th class="vs">vs</th>
                <th class="away">Away</th>
                <th class="gameNo">Game</th>
            </tr>
            <tr>
                <td class="time">7:00</td>
                <td class="home">Team 1</td>
                <td class="vs">-</td>
                <td class="away">Team 2</td>
                <td class="gameNo">Game 1</td>
            </tr>
            <tr>
                <td class="time">7:00</td>
                <td class="home">Team 3</td>
                <td class="vs">-</td>
                <td class="away">Team 4</td>
                <td class="gameNo">Game 2</td>
            </tr>
            <tr>
                <td class="time">8:15</td>
                <td class="home">Team 5</td>
                <td class="vs">-</td>
                <td class="away">Team 6</td>
                <td class="gameNo">Game 3</td>
            </tr>
            <tr>
                <td class="time">8:15</td>
                <td class="home">Team 7</td>
                <td class="vs">-</td>
                <td class="away">Team 8</td>
                <td class="gameNo">Game 4</td>
            </tr>
        </table>
    </div>
</div>
<div id="news">
    <div id="mainNews"><span id="newsTitle"><h4>Test</h4></span>Some News About the league</div>
    <div id="lowerNews"><span id="newsTitle"><h4>Test</h4></span>Some News About the league</div>
    <div id="lowerNews"><span id="newsTitle"><h4>Test</h4></span>Some News About the league</div>
</div>
</body>
</html>